In [1]:
import pandas as pd

In [2]:
dic1= {
    'nam,e':[1,2,3,6,5,4,8,9,5],
    'roll no':[5,6,6,9,5,5,6,3,6]
}

In [3]:
df = pd.DataFrame(dic1)

In [4]:
df

   nam,e  roll no
0      1        5
1      2        6
2      3        6
3      6        9
4      5        5
5      4        5
6      8        6
7      9        3
8      5        6

In [5]:
df.to_csv('friend.csv')

In [6]:
df

   nam,e  roll no
0      1        5
1      2        6
2      3        6
3      6        9
4      5        5
5      4        5
6      8        6
7      9        3
8      5        6

In [8]:
df.to_csv('friend.csv')